openapi: 3.2.0
info:
  description: '# Introduction

    This API is documented using the **OpenAPI 2.0** specification.'
  title: Logz.io Insights API
  termsOfService: https://logz.io/about-us/terms-of-use/
  contact:
    email: help@logz.io
    url: https://docs.logz.io/
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.logz.io/
security:
- X-API-TOKEN: []
tags:
- name: Insights
  description: Logz.io monitors your logs for Insights to help you preempt issues and alert you of potential problems.
paths:
  /v1/insights/list:
    post:
      summary: Get the list of Insights
      tags:
      - Insights
      description: 'Get the list of Insights that match your search criteria.


        Whenever a new Insight is detected, it receives an Insight ID and is tracked for as long as it recurs. The lookback period for Insights is 6 months.


        **Note:** This endpoint requires permissions that must be set by our Support team. Please email help@logz.io for assistance.

        Please ensure to change the region in the URL to match your account''s region.'
      operationId: getPublicInsights
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageResponsePublicAccountInsightResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicGetAccountInsightsRequest'
components:
  schemas:
    PublicGetAccountInsightsRequest:
      type: object
      properties:
        startDate:
          type: integer
          format: int64
          description: UNIX timestamp in milliseconds specifying the start date for the query time frame. By default, returns the past 15 minutes ("now - 15 minutes" translated into a UNIX timestamp).
          example: 1592904389950
        endDate:
          type: integer
          format: int64
          description: UNIX timestamp in milliseconds specifying the end date for the query time frame. By default, returns the current time ("now" translated into a UNIX timestamp).
          example: 1592254800000
        from:
          type: integer
          format: int32
          description: Of the results found, the first result to return. Must be a non-negative integer.
          default: 0
          example: 0
        size:
          type: integer
          format: int32
          description: Number of results to return. Must be a positive integer between 1-100.
          default: 10
          maximum: 100
          minimum: 1
          example: 100
        insightTypes:
          type: array
          items:
            type: string
            enum:
            - PUBLIC_CI
            - LOGCEPTION
          description: Filters results by Insight type. `LOGCEPTION` filters for application insights. `PUBLIC_CI` filters for Cognitive Insights.
          default:
          - PUBLIC_CI
          - LOGCEPTION
          example:
          - PUBLIC_CI
          - LOGCEPTION
        tagNames:
          type: array
          items:
            type: string
          description: Filters results by the tag values used to categorize Insights.
          example: null
        logTypes:
          type: array
          items:
            type: string
          description: Filters results by [log type](/user-guide/log-shipping/built-in-log-types.html).
          example:
          - log-engine
          - spark
        onlyNew:
          type: boolean
          description: Filters for Insights that first occurred in the selected time frame. In other words, excludes Insights that were first identified before or after the selected time range.
          default: false
          example: true
        sortBy:
          type: string
          enum:
          - FIRST_OCCURRENCE
          - LAST_OCCURRENCE
          - COUNT
          description: Sorts Insights by the selected parameters.
          default: COUNT
          example: COUNT
        asc:
          type: boolean
          description: If `false`, sorts Insights in descending order. The order depends on the selected `sortBy` paramater.
          default: false
          example: true
        search:
          type: string
          description: Searches for an Insight by its title.
          example: Exception
    PageResponsePublicAccountInsightResponse:
      type: object
      properties:
        pageSize:
          type: integer
          format: int32
          minimum: 0
          maximum: 500
          description: Number of results to return per page. Must be a positive integer between 0-500.
        from:
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
          description: UNIX timestamp in milliseconds.
        total:
          type: integer
          format: int64
          minimum: 0
          maximum: 500
          description: Total number of results found.
        results:
          type: array
          items:
            $ref: '#/components/schemas/PublicAccountInsightResponse'
    PublicAccountInsightResponse:
      type: object
      properties:
        insightId:
          type: string
          description: An ID identifying the Insight in Logz.io. Can be used to track the Insight's occurrence in the environment over time.
          example: cf484f4c381c3e408a23accc5b487947d2f68791
        insightType:
          type: string
          enum:
          - PUBLIC_CI
          - LOGCEPTION
          description: Identifies the type of Insight as either `LOGCEPTION` (application insights) or `PUBLIC_CI` (Cognitive Insights).
          example: PUBLIC_CI
        tagName:
          type: string
          description: Tags applied to the Insight help to categorize it.
          example: ignite
        description:
          type: string
          description: A helpful description of the issue identified by the Insight. The description is generated by Logz.io.
          example: A match for the phrase - <'Could not find the language line'> was identified in the log message. As mentioned in the cited links, this may indicate that an issue has taken place that requires your attention.
        links:
          type: array
          items:
            type: string
          description: Only applicable for `PUBLIC_CI` Insights. Provides reference links to recommended resources for further investigation of the issue.
          example: https://github.com/benedmunds/CodeIgniter-Ion-Auth/issues/784 https://www.sitepoint.com/multi-language-support-in-codeigniter/ http://forum.codeigniter.com/thread-383.html https://community.invoiceplane.com/t/topic/3322 https://www.zonwhois.com/www/gwdcanada.com.html
        additionalData:
          type: object
          description: Only applicable for `LOGCEPTION` Insights. Provides relevant excerpts from the stacktrace about the exception in question.
          additionalProperties:
            type: object
        firstOccurrence:
          type: integer
          format: int64
          description: UNIX timestamp in milliseconds specifying the earliest appearance of the Insight. The lookback period is up to 6 months.
          example: 1591181276000
        lastOccurrence:
          type: integer
          format: int64
          description: UNIX timestamp in milliseconds specifying the most recent appearance of the Insight in the selected time frame.
          example: 1591253121194
        count:
          type: integer
          format: int64
          description: The number of times the Insight occurred during the selected time frame.
          example: 66
        logTypes:
          type: array
          items:
            type: string
          example:
          - app-server
          - user-analytics
        kibanaLink:
          type: string
          description: Only applicable for `LOGCEPTION` Insights. Provides a drill-down link to fetch the raw logs that match the Insight in Kibana Discover.
        insightTitle:
          type: string
          description: The title of the Insight.
          example: Could not find the language line create_user_validation_phone_label
  securitySchemes:
    X-API-TOKEN:
      description: 'You can manage your API tokens from the [Logz.io API tokens](https://app.logz.io/#/dashboard/settings/manage-tokens/api) page.


        API tokens are account-specific. You will need to be logged into the relevant Log Management or SIEM account to view the API tokens associated with it.


        To manage your API tokens, log into the relevant account in your Logz.io platform, click the gear in the top-right menu, and select [**Tools > Manage tokens > API tokens**](https://app.logz.io/#/dashboard/settings/manage-tokens/api).


        It''s important to keep your tokens secure. API tokens carry privileges to make changes to users and accounts, so if you believe an API token has been compromised, delete it, and replace it with a new token in your integrations.'
      type: apiKey
      in: header
      name: X-API-TOKEN
x-servers:
- url: https://api.logz.io
  description: US East (Northern Virginia)
- url: https://api-au.logz.io
  description: Asia Pacific (Sydney)
- url: https://api-ca.logz.io
  description: Canada (Central)
- url: https://api-eu.logz.io
  description: Europe (Frankfurt)
- url: https://api-uk.logz.io
  description: Europe (London)
x-tagGroups:
- name: Log Monitoring
  tags:
  - Search logs
  - Alerts
  - Deployments
  - Insights
  - Logz.io snapshots
- name: Cloud SIEM
  tags:
  - Security account
  - Security rules
  - Security events
  - Lookup lists
- name: Account administration
  tags:
  - Manage users
  - Manage metrics account
  - Associated accounts
  - Authentication groups
  - Who am I
  - Manage time-based log accounts
  - Manage shared tokens
  - Manage API tokens
  - Manage notification endpoints
  - Import or export Kibana objects
- name: Manage data shipping
  tags:
  - Manage log shipping tokens
  - Drop filters
  - Archive logs
  - Restore logs
  - Parsing
  - Delete object API
- name: Data security
  tags:
  - Retrieve audit trail
- name: Connect to AWS resources
  tags:
  - Connect to CloudTrail
  - Connect to S3 Buckets
- name: Metrics API Gateway
  tags:
  - Grafana contact points
  - Grafana data source
  - Grafana alerting provisioning
  - Grafana silence management
  - Grafana annotations
  - Grafana dashboards
  - Grafana dashboard search
  - Grafana snapshots
  - Grafana get all folders
  description: Metrics API Gateway to supported endpoints.
