openapi: 3.2.0
info:
  description: '# Introduction

    This API is documented using the **OpenAPI 2.0** specification.'
  title: Logz.io Grafana snapshots API
  termsOfService: https://logz.io/about-us/terms-of-use/
  contact:
    email: help@logz.io
    url: https://docs.logz.io/
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.logz.io/
security:
- X-API-TOKEN: []
tags:
- name: Grafana snapshots
paths:
  /v1/grafana/api/dashboard/snapshots/:
    get:
      operationId: getGrafanaSnapshot
      summary: Get list of Snapshots
      description: 'Get list of Snapshots. Note that snapshots are stored for 30 days and automatically deleted afterwards.

        Please ensure to change the region in the URL to match your account''s region.'
      tags:
      - Grafana snapshots
      parameters:
      - in: query
        name: query
        schema:
          description: Search query.
      - in: query
        name: limit
        schema:
          description: Limit the number of returned results.
      responses:
        200:
          description: successful query
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: ID.
                    example: 8
                  name:
                    type: string
                    description: Snapshot name.
                    example: Home
                  key:
                    type: string
                    description: Snapshot key.
                    example: YYYYYYY
                  orgId:
                    type: integer
                    description: Snapshot orgId.
                    example: 1
                  userId:
                    type: integer
                    description: Snapshot user ID.
                    example: 1
                  external:
                    type: boolean
                    description: Whether the snapshot is external.
                  externalUrl:
                    type: string
                    description: Snapshot external url.
                  expires:
                    type: string
                    description: Snapshot expiry date.
                    example: '2200-13-32T25:23:23+02:00'
                  created:
                    type: string
                    description: Snapshot creation date.
                    example: '2200-13-32T28:24:23+02:00'
                  updated:
                    type: string
                    description: Snapshot update date.
                    example: '2200-13-32T28:24:23+02:00'
  /v1/grafana/api/snapshots/:
    post:
      operationId: postGrafanaSnapshot
      summary: Create a snapshot
      description: 'Creates a snapshot. Snapshots are stored for 30 days and automatically deleted afterwards.

        Please ensure to change the region in the URL to match your account''s region.'
      tags:
      - Grafana snapshots
      responses:
        200:
          description: successful query
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleteKey:
                    type: string
                    description: Unique key used to delete the snapshot. It is different from the `key` so that only the creator can delete the snapshot. Required if external is `true`.
                    example: XXXXXXX
                  deleteUrl:
                    type: string
                    description: Delete url.
                    example: myurl/api/snapshots-delete/XXXXXXX
                  key:
                    type: string
                    description: Unique key.
                    example: YYYYYYY
                  url:
                    type: string
                    description: URL.
                    example: myurl/dashboard/snapshot/YYYYYYY
                  id:
                    type: integer
                    description: ID.
                    example: 1
      requestBody:
        content:
          application/json:
            schema:
              properties:
                dashboard:
                  type: object
                  required: true
                  description: The complete dashboard model.
                name:
                  type: string
                  description: Snapshot name.
                expires:
                  type: integer
                  description: When the snapshot should expire in seconds. 3600 is 1 hour, 86400 is 1 day. Default is never to expire.
                external:
                  type: boolean
                  description: Save the snapshot on an external server rather than locally. Default is false.
                key:
                  type: string
                  description: Define the unique key. Required if external is true.
                deleteKey:
                  type: string
                  description: Unique key used to delete the snapshot. It is different from the key so that only the creator can delete the snapshot. Required if external is true.
  /v1/grafana/api/snapshots/:key/:
    get:
      operationId: getGrafanaSnapshotbyKey
      summary: Get Snapshot by Key
      description: 'Gets Snapshot by Key. Snapshots are stored for 30 days and automatically deleted afterwards.

        Please ensure to change the region in the URL to match your account''s region.'
      tags:
      - Grafana snapshots
      parameters:
      - in: path
        name: key
        required: true
        schema:
          type: string
      responses:
        200:
          description: successful query
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      isSnapshot:
                        type: boolean
                      type:
                        type: string
                        example: snapshot
                      canSave:
                        type: boolean
                      canEdit:
                        type: boolean
                      canStar:
                        type: boolean
                      slug:
                        type: string
                        example: null
                      expires:
                        type: string
                        example: '2200-13-32T25:23:23+02:00'
                      created:
                        type: string
                        example: '2200-13-32T28:24:23+02:00'
                  dashboard:
                    type: object
                    description: Dashboard.
                    properties:
                      editable:
                        type: boolean
                        description: Whether the dashboard is editable.
                      hideControls:
                        type: boolean
                        description: Whether to hide controls.
                      nav:
                        type: array
                        description: Nav.
                        items:
                          type: object
                          properties:
                            enable:
                              type: boolean
                              description: Nav enabled or not.
                            type:
                              type: string
                              description: Nav type.
                              example: timepicker
                      rows:
                        type: array
                        description: Rows.
                        items:
                          type: object
                          properties: null
                      style:
                        type: string
                        description: Style.
                        example: dark
                      tags:
                        type: array
                        description: Tags.
                        items: null
                      templating:
                        type: object
                        description: Templating.
                        properties:
                          list:
                            description: List.
                            type: array
                            items: null
                      time:
                        type: object
                        description: Time.
                        properties: null
                      timezone:
                        type: string
                        description: Time zone.
                        example: browser
                      title:
                        type: string
                        description: Title.
                        example: Home
                      version:
                        type: integer
                        description: Dashboard version.
                        example: 5
    delete:
      operationId: deleteGrafanaSnapshotbyKey
      summary: Delete Snapshot by Key
      description: Deletes snapshot by Key. Snapshots are stored for 30 days and automatically deleted afterwards.
      tags:
      - Grafana snapshots
      parameters:
      - in: path
        name: key
        required: true
        schema:
          type: string
      responses:
        200:
          description: successful query
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Message.
                    example: Snapshot deleted. It might take an hour before it's cleared from any CDN caches.
                  id:
                    type: integer
                    description: ID.
                    example: 1
  /v1/grafana/api/snapshots-delete/:deleteKey:
    get:
      operationId: deleteGrafanaSnapshotbyDeleteKey
      summary: Delete snapshot by deleteKey
      description: 'Delete snapshot by deleteKey. Note that snapshots are stored for 30 days and automatically deleted afterwards.

        Please ensure to change the region in the URL to match your account''s region.'
      tags:
      - Grafana snapshots
      parameters:
      - in: path
        name: deleteKey
        required: true
        schema:
          type: string
      responses:
        200:
          description: successful query
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Message.
                    example: Snapshot deleted. It might take an hour before it's cleared from any CDN caches.
                  id:
                    type: integer
                    description: ID.
                    example: 1
components:
  securitySchemes:
    X-API-TOKEN:
      description: 'You can manage your API tokens from the [Logz.io API tokens](https://app.logz.io/#/dashboard/settings/manage-tokens/api) page.


        API tokens are account-specific. You will need to be logged into the relevant Log Management or SIEM account to view the API tokens associated with it.


        To manage your API tokens, log into the relevant account in your Logz.io platform, click the gear in the top-right menu, and select [**Tools > Manage tokens > API tokens**](https://app.logz.io/#/dashboard/settings/manage-tokens/api).


        It''s important to keep your tokens secure. API tokens carry privileges to make changes to users and accounts, so if you believe an API token has been compromised, delete it, and replace it with a new token in your integrations.'
      type: apiKey
      in: header
      name: X-API-TOKEN
x-servers:
- url: https://api.logz.io
  description: US East (Northern Virginia)
- url: https://api-au.logz.io
  description: Asia Pacific (Sydney)
- url: https://api-ca.logz.io
  description: Canada (Central)
- url: https://api-eu.logz.io
  description: Europe (Frankfurt)
- url: https://api-uk.logz.io
  description: Europe (London)
x-tagGroups:
- name: Log Monitoring
  tags:
  - Search logs
  - Alerts
  - Deployments
  - Insights
  - Logz.io snapshots
- name: Cloud SIEM
  tags:
  - Security account
  - Security rules
  - Security events
  - Lookup lists
- name: Account administration
  tags:
  - Manage users
  - Manage metrics account
  - Associated accounts
  - Authentication groups
  - Who am I
  - Manage time-based log accounts
  - Manage shared tokens
  - Manage API tokens
  - Manage notification endpoints
  - Import or export Kibana objects
- name: Manage data shipping
  tags:
  - Manage log shipping tokens
  - Drop filters
  - Archive logs
  - Restore logs
  - Parsing
  - Delete object API
- name: Data security
  tags:
  - Retrieve audit trail
- name: Connect to AWS resources
  tags:
  - Connect to CloudTrail
  - Connect to S3 Buckets
- name: Metrics API Gateway
  tags:
  - Grafana contact points
  - Grafana data source
  - Grafana alerting provisioning
  - Grafana silence management
  - Grafana annotations
  - Grafana dashboards
  - Grafana dashboard search
  - Grafana snapshots
  - Grafana get all folders
  description: Metrics API Gateway to supported endpoints.
