openapi: 3.2.0
info:
  description: '# Introduction

    This API is documented using the **OpenAPI 2.0** specification.'
  title: Logz.io Grafana contact points API
  termsOfService: https://logz.io/about-us/terms-of-use/
  contact:
    email: help@logz.io
    url: https://docs.logz.io/
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.logz.io/
security:
- X-API-TOKEN: []
tags:
- name: Grafana contact points
paths:
  /v1/grafana/api/v1/provisioning/contact-points:
    get:
      operationId: RouteGetContactpoints
      summary: Get all contact points
      description: 'Get all contact points.

        Please ensure to change the region in the URL to match your account''s region.'
      tags:
      - Grafana contact points
      parameters:
      - in: query
        name: name
        schema:
          description: Name to filter by.
      responses:
        200: null
        description: ContactPoints
        schema:
          type: array
          items:
            type: object
            properties:
              disableResolveMessage:
                type: boolean
              name:
                type: string
                example: webhook_1
              provenance:
                type: string
                example: string
              settings:
                type: object
                properties: null
              type:
                type: string
                example: webhook
              uid:
                type: string
                example: my_external_reference
          description: ''
    post:
      operationId: RoutePostContactpoints
      summary: Create a contact point
      description: 'Create a contact point.

        Please ensure to change the region in the URL to match your account''s region.'
      tags:
      - Grafana contact points
      responses:
        202: null
        description: ContactPoints
        schema:
          type: object
          properties:
            definitions:
              disableResolveMessage:
                type: boolean
              name:
                type: string
                example: webhook_1
              provenance:
                type: string
                example: string
              settings:
                type: object
                properties: null
              type:
                type: string
                example: webhook
              uid:
                type: string
                example: my_external_reference
          description: ''
        400:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Error message
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                disableResolveMessage:
                  type: boolean
                name:
                  type: string
                  example: webhook_1
                settings:
                  type: object
                  properties: null
                type:
                  type: string
                  example: webhook
                uid:
                  type: string
                  example: my_external_reference
  /v1/grafana/api/v1/provisioning/contact-points/<<UID>>:
    delete:
      operationId: RouteDeleteContactpoints
      summary: Delete a contact point
      description: 'Delete a contact point.

        Please ensure to change the region in the URL to match your account''s region.'
      tags:
      - Grafana contact points
      parameters:
      - in: path
        name: UID
        required: true
        schema:
          description: Contact point unique identifier.
      responses:
        204:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The contact point was deleted successfully.
    put:
      operationId: RouteUpdateContactpoints
      summary: Update a contact point
      description: 'Update a contact point.

        Please ensure to change the region in the URL to match your account''s region.'
      tags:
      - Grafana contact points
      parameters:
      - in: path
        name: UID
        required: true
        schema:
          type: string
        description: Contact point unique identifier.
      responses:
        202:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The contact point was deleted successfully.
        204:
          description: Acknowledged
          content:
            application/json:
              schema:
                type: object
                properties: null
        400:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Validator error.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                disableResolveMessage:
                  type: boolean
                name:
                  type: string
                  example: webhook_1
                settings:
                  type: object
                  properties: null
                type:
                  type: string
                  example: webhook
                uid:
                  type: string
                  example: my_external_reference
  /v1/grafana/api/v1/provisioning/policies:
    delete:
      operationId: RouteResetPolicyTree
      summary: Clears the notification policy tree
      description: 'Clears the notification policy tree.

        Please ensure to change the region in the URL to match your account''s region.'
      tags:
      - Grafana contact points
      responses:
        202:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The contact point was deleted successfully.
    get:
      operationId: RouteGetPolicyTree
      summary: Get notification policy tree
      description: 'Get notification policy tree.

        Please ensure to change the region in the URL to match your account''s region.'
      tags:
      - Grafana contact points
      responses:
        202:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  continue:
                    type: boolean
                  group_by:
                    type: array
                    items:
                      type: string
                      example: string
                  group_interval:
                    type: string
                    example: string
                  group_wait:
                    type: string
                    example: string
                  match:
                    type: object
                    properties:
                      additionalProp1:
                        type: string
                        example: string
                      additionalProp2:
                        type: string
                        example: string
                      additionalProp3:
                        type: string
                        example: string
                  match_re:
                    type: object
                    properties:
                      additionalProp1:
                        type: object
                        properties: null
                      additionalProp2:
                        type: object
                        properties: null
                      additionalProp3:
                        type: object
                        properties: null
                  matchers:
                    type: array
                    items:
                      type: object
                      properties:
                        Name:
                          type: string
                          example: string
                        Type:
                          type: integer
                          format: int32
                          example: 0
                        Value:
                          type: string
                          example: string
                  mute_time_intervals:
                    type: array
                    items:
                      type: string
                      example: string
                  object_matchers:
                    type: array
                    items:
                      type: object
                      properties:
                        Name:
                          type: string
                          example: string
                        Type:
                          type: integer
                          format: int32
                          example: 0
                        Value:
                          type: string
                          example: string
                  provenance:
                    type: string
                    example: string
                  receiver:
                    type: string
                    example: string
                  repeat_interval:
                    type: string
                    example: string
                  routes:
                    type: array
                    items:
                      type: string
                      example: string
    put:
      operationId: RouteSetPolicyTree
      summary: Set notification policy tree
      description: 'Set notification policy tree.

        Please ensure to change the region in the URL to match your account''s region.'
      tags:
      - Grafana contact points
      responses:
        202:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The contact point was deleted successfully.
        400:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Validator error.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                continue:
                  type: boolean
                group_by:
                  type: array
                  items:
                    type: string
                    example: string
                group_interval:
                  type: string
                  example: string
                group_wait:
                  type: string
                  example: string
                match:
                  type: object
                  properties:
                    additionalProp1:
                      type: string
                      example: string
                    additionalProp2:
                      type: string
                      example: string
                    additionalProp3:
                      type: string
                      example: string
                match_re:
                  type: object
                  properties:
                    additionalProp1:
                      type: object
                      properties: null
                    additionalProp2:
                      type: object
                      properties: null
                    additionalProp3:
                      type: object
                      properties: null
                matchers:
                  type: array
                  items:
                    type: object
                    properties:
                      Name:
                        type: string
                        example: string
                      Type:
                        type: integer
                        format: int32
                        example: 0
                      Value:
                        type: string
                        example: string
                mute_time_intervals:
                  type: array
                  items:
                    type: string
                    example: string
                object_matchers:
                  type: array
                  items:
                    type: object
                    properties:
                      Name:
                        type: string
                        example: string
                      Type:
                        type: integer
                        format: int32
                        example: 0
                      Value:
                        type: string
                        example: string
                provenance:
                  type: string
                  example: string
                receiver:
                  type: string
                  example: string
                repeat_interval:
                  type: string
                  example: string
                routes:
                  type: array
                  items:
                    type: string
                    example: string
components:
  securitySchemes:
    X-API-TOKEN:
      description: 'You can manage your API tokens from the [Logz.io API tokens](https://app.logz.io/#/dashboard/settings/manage-tokens/api) page.


        API tokens are account-specific. You will need to be logged into the relevant Log Management or SIEM account to view the API tokens associated with it.


        To manage your API tokens, log into the relevant account in your Logz.io platform, click the gear in the top-right menu, and select [**Tools > Manage tokens > API tokens**](https://app.logz.io/#/dashboard/settings/manage-tokens/api).


        It''s important to keep your tokens secure. API tokens carry privileges to make changes to users and accounts, so if you believe an API token has been compromised, delete it, and replace it with a new token in your integrations.'
      type: apiKey
      in: header
      name: X-API-TOKEN
x-servers:
- url: https://api.logz.io
  description: US East (Northern Virginia)
- url: https://api-au.logz.io
  description: Asia Pacific (Sydney)
- url: https://api-ca.logz.io
  description: Canada (Central)
- url: https://api-eu.logz.io
  description: Europe (Frankfurt)
- url: https://api-uk.logz.io
  description: Europe (London)
x-tagGroups:
- name: Log Monitoring
  tags:
  - Search logs
  - Alerts
  - Deployments
  - Insights
  - Logz.io snapshots
- name: Cloud SIEM
  tags:
  - Security account
  - Security rules
  - Security events
  - Lookup lists
- name: Account administration
  tags:
  - Manage users
  - Manage metrics account
  - Associated accounts
  - Authentication groups
  - Who am I
  - Manage time-based log accounts
  - Manage shared tokens
  - Manage API tokens
  - Manage notification endpoints
  - Import or export Kibana objects
- name: Manage data shipping
  tags:
  - Manage log shipping tokens
  - Drop filters
  - Archive logs
  - Restore logs
  - Parsing
  - Delete object API
- name: Data security
  tags:
  - Retrieve audit trail
- name: Connect to AWS resources
  tags:
  - Connect to CloudTrail
  - Connect to S3 Buckets
- name: Metrics API Gateway
  tags:
  - Grafana contact points
  - Grafana data source
  - Grafana alerting provisioning
  - Grafana silence management
  - Grafana annotations
  - Grafana dashboards
  - Grafana dashboard search
  - Grafana snapshots
  - Grafana get all folders
  description: Metrics API Gateway to supported endpoints.
