openapi: 3.2.0
info:
  description: '# Introduction

    This API is documented using the **OpenAPI 2.0** specification.'
  title: Logz.io Deployments API
  termsOfService: https://logz.io/about-us/terms-of-use/
  contact:
    email: help@logz.io
    url: https://docs.logz.io/
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.logz.io/
security:
- X-API-TOKEN: []
tags:
- name: Deployments
  description: Send deployment logs by API to automatically correlate exceptions with service deployments directly in your Logz.io Exceptions tab.
paths:
  /v2/markers/create-markers:
    post:
      tags:
      - Deployments
      operationId: createMarkers
      summary: Add deployment markers to Exception graphs
      description: 'Send logs with details of service deployments to annotate Exception graphs in Kibana Discover. Learn more about Deployment markers

        Please ensure to change the region in the URL to match your account''s region.'
      responses:
        default:
          description: 204 No Content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMarkersRequest'
        required: true
components:
  schemas:
    MarkerDataPoint:
      type: object
      required:
      - title
      - description
      properties:
        title:
          type: string
          description: Specify a marker title, for example, a service name. The title appears in the Deployments list    your Exceptions tab.
          example: ServiceA
        tag:
          type: string
          description: Specify `DEPLOYMENT` for the Deployment marker to appear in the Deployments list in your Exceptions tab.
          default: OTHER
        example: DEPLOYMENT
        enum:
        - DEPLOYMENT
        - OTHER
        timestamp:
          type: integer
          format: int64
          description: Date of the deployment event, as Unix epoch milliseconds
          example: 1613311091679
        description:
          type: string
          description: Add a description to provide additional detail.
          example: Description with additional context
          required: true
        metadata:
          type: object
          additionalProperties:
            type: string
          example:
            version: version 5
            deployer: iron man
          description: 'Provides additional metadata with details of the deployment.


            (Future functionality: Metadata will be used to filter deploymentsby several dimensions. For example, to filter deployments by service and region to focus on deployments performed on a specific service and a specific region.'
    CreateMarkersRequest:
      type: object
      properties:
        markers:
          type: array
          items:
            $ref: '#/components/schemas/MarkerDataPoint'
  securitySchemes:
    X-API-TOKEN:
      description: 'You can manage your API tokens from the [Logz.io API tokens](https://app.logz.io/#/dashboard/settings/manage-tokens/api) page.


        API tokens are account-specific. You will need to be logged into the relevant Log Management or SIEM account to view the API tokens associated with it.


        To manage your API tokens, log into the relevant account in your Logz.io platform, click the gear in the top-right menu, and select [**Tools > Manage tokens > API tokens**](https://app.logz.io/#/dashboard/settings/manage-tokens/api).


        It''s important to keep your tokens secure. API tokens carry privileges to make changes to users and accounts, so if you believe an API token has been compromised, delete it, and replace it with a new token in your integrations.'
      type: apiKey
      in: header
      name: X-API-TOKEN
x-servers:
- url: https://api.logz.io
  description: US East (Northern Virginia)
- url: https://api-au.logz.io
  description: Asia Pacific (Sydney)
- url: https://api-ca.logz.io
  description: Canada (Central)
- url: https://api-eu.logz.io
  description: Europe (Frankfurt)
- url: https://api-uk.logz.io
  description: Europe (London)
x-tagGroups:
- name: Log Monitoring
  tags:
  - Search logs
  - Alerts
  - Deployments
  - Insights
  - Logz.io snapshots
- name: Cloud SIEM
  tags:
  - Security account
  - Security rules
  - Security events
  - Lookup lists
- name: Account administration
  tags:
  - Manage users
  - Manage metrics account
  - Associated accounts
  - Authentication groups
  - Who am I
  - Manage time-based log accounts
  - Manage shared tokens
  - Manage API tokens
  - Manage notification endpoints
  - Import or export Kibana objects
- name: Manage data shipping
  tags:
  - Manage log shipping tokens
  - Drop filters
  - Archive logs
  - Restore logs
  - Parsing
  - Delete object API
- name: Data security
  tags:
  - Retrieve audit trail
- name: Connect to AWS resources
  tags:
  - Connect to CloudTrail
  - Connect to S3 Buckets
- name: Metrics API Gateway
  tags:
  - Grafana contact points
  - Grafana data source
  - Grafana alerting provisioning
  - Grafana silence management
  - Grafana annotations
  - Grafana dashboards
  - Grafana dashboard search
  - Grafana snapshots
  - Grafana get all folders
  description: Metrics API Gateway to supported endpoints.
